.formActivities{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

label h3{
    font-size: 130% !important;
    color: rgb(49, 49, 49);
    font-weight: 500;
    padding: 20% 0 10% 0;

}

.formActivities textarea{
    display: block;
    text-align: center;
    padding: 30%;
    margin-left: -19% !important;
    font-size: 100%;
    border-radius: 5%;
    color: grey;
}

.button{
    font-size:90%;
    text-transform: uppercase;
    font-weight:700;
    border:none;
    padding:10px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 5%;
}
.buttonSubmit{
    background:rgb(36, 36, 36);
    color:rgb(255, 255, 255);
    box-shadow:0 5px 0 rgb(0, 0, 0);
}

.buttonSubmit:hover{
    background:#670101;
    box-shadow:0 5px 0 #3f0000; 
}

.buttonSubmit:active{
    position:relative;
    top: 5px;
    box-shadow:none;
}